<launch>

	<include file="$(find ORB_SLAM)/launch/usb_cam.launch" >
		<param name="image_width" value="640" />
    	<param name="image_height" value="480"/>
	</include>


   <node pkg="image_view" type="image_view" name="image_view2" respawn="false" output="log">
	<remap from="/image" to="/ORB_SLAM/Frame" />
	<param name="autosize" value="true"/>
	</node>

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find ORB_SLAM)/Data/rviz.rviz" output="log">
   </node>

 	<node pkg="ORB_SLAM" type="ORB_SLAM" name="ORB_SLAM"  args="Data/ORBvoc.txt Data/face_cam.yaml" cwd="node" output="screen">
   </node>

</launch>
